<style>
* {
    box-sizing: border-box;
}
.row{
    width: 100%;
    margin-bottom: 2em;
}
.navbar-brand{
    font-weight: bold;
}
h1{
	text-align: center;
    font-weight: bold;
}
h3{
	text-align: center;
    font-weight: bold;
}
#p1,#p2,#p3{
    margin-top: 5px;
	text-align: center;
}
.bg-red{
    background-color: #A52A2A;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .container {
        margin-left: 2em;
        width: 98%;
        }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        margin-left: 2em;
        width: 98%;
        }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        margin-left: 2em;
        width: 98%;
        }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .container {
        margin-left: 17.5%;
        width: 75%;
       }
    .navbar-brand{
        margin-left: 2em;
    }
	.col-xs-12{			
        width: 100%;
	}	
}

/* Portrait phones and smaller */
@media (max-width: 576px) {
  
}
</style>